@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
nav::selection,
ul::selection,
li::selection,
span::selection {
  color: #f3f3f3;
  background-color: #580107;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: url("./assets/bg.png") #fbb92d;
  background-repeat: repeat;
  font-family: "Roboto", sans-serif;
  color: #580107;
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  color: #f3f3f3;
  background-color: #580107;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  button:hover {
    opacity: 0.9;
  }
}

input {
  border: #580107 1px solid;
  border-radius: 10px;
  padding: 10px;
}

form {
  min-width: 20%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #580107;
  font-size: 10pt;
  font-weight: 300;
}

a:hover{
  transform: scale(1.05);
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

h2 {
  margin: 0;
  flex-direction: column;
  display: flex;
}

h2 span {
  font-weight: 200;
  font-size: 12pt;
  margin: 0;
  text-align: right;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-right {
  text-align: right;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.align-left {
  text-align: left;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.jc-sa {
  justify-content: space-around;
}

.subrayado {
  border-bottom: #580107 2px solid;
  padding-left: 200px;
  padding-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.users {
  padding: 60px 0;
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-direction: row;
  width: 40%;
  flex-wrap: wrap;
  margin: 0 auto;
}
