.formulario {
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 40px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
}
