.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 90vw;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.container h2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1rem;
}

.form_container{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  

}

.data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 0.4rem;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin: 2em 0;
}

.btn button{
    border: .15rem solid var(--color-primary);
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
}