.container_cashiers {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 90vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cashiers_data {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary-ligth);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 20px;
}

.cashiers_data:hover {
  opacity: 0.9;
}
.cashiers_data h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 28pt;
}
.cashiers_data h2 {
  display: flex;
  align-items: center;
}
.cashiers_data h3 {
  display: flex;
  justify-content: flex-end;
}

.users {
  display: flex;
}
