.navbar{
    width: 100vw;
    height: 70px;
    background-color: #580107;
    color: #f3f3f3;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f3f3;
    text-align: center;
}

.ppal{
    color: #580107 !important;
    z-index: 9999999;
    cursor: pointer;
    border-radius: 100%;
    padding: 17px;
    background-color: #f3f3f3;
    border:6px solid #fbb92d;
    position: relative;
    top: -25px;
}

.ppal:hover, .navbar a:hover{
   transform: scale(1.05);
   opacity: 1 !important;
}